{% extends 'base.html' %}
{% block content %}
    <script>
        function addProductToBasket() {
            $.ajax({
                type: "GET",
                url: '/add_product_to_basket/' + {{ product.id }}+'/',
                success: function (data) {
                    console.log('OK');
                    $("#to_basket").attr("disabled", true);
                }
            })
        }
    </script>
    <link rel="stylesheet" href="{{ static('css/product.css') }}">
<div>
<div class="wrapper">
    		<div class="card radius shadowDepth1">
    			<div class="card__image border-tlr-radius">
    				<img src='{{ product.photo.url}}' alt="image" class="border-tlr-radius" height="400" width="400">
                </div>

    			<div class="card__content card__padding">

    				<div class="card__meta">
                         <time>Added: {{ product.created_date.strftime('%Y-%m-%d') }}</time>
    				</div>

    				<article class="card__article">
	    				<h2 style="display: inline">{{ product.name }}</h2>
                        <div class='right' style="display: inline">{{ product.price }} UAH</div>

	    				<p>Resolution: {{ product.resolution }}</p>
                        <p>Zoom: {{ product.zoom }}</p>
                        <p>Aditional functions: </p>
                        <ul>
                        {% for item in product.additional_functions.all() %}
                            <li><p>* {{ item.name }}</p></li>
                        {% endfor %}
                        </ul>
	    			</article>
    			</div>
                <button type="button" class="btn btn-success btn-lg {% if in_basket %} disabled {% endif %}" id="to_basket"
                        onclick=addProductToBasket()>Want it!!
                </button>
    		</div>
    	</div>
</div>
{% endblock content %}

