{% extends 'base.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
<div>
<div class="wrapper">
    		<div class="card radius shadowDepth1">
    			<div class="card__image border-tlr-radius">
    				<img src='{{ product.photo.url}}' alt="image" class="border-tlr-radius" height="400" >
                </div>

    			<div class="card__content card__padding">

    				<div class="card__meta">
                         <time>Added: {{ product.created_date }}</time>
    				</div>

    				<article class="card__article">
	    				<h2 style="display: inline">{{ product.name }}</h2>
                        <div class='right' style="display: inline">{{ product.price }} UAH</div>

	    				<p>Resolution: {{ product.resolution }}</p>
                        <p>Zoom: {{ product.resolution }}</p>
                        <p>Aditional functions: </p>
                        <ul>
                        {% for item in product.additional_functions.all %}
                            <li><p>* {{ item.name }}</p></li>
                        {% endfor %}
                        </ul>
	    			</article>
    			</div>
                <a href="#" class="btn btn-success btn-lg">Want it!!</a>
    		</div>
    	</div>
</div>
{% endblock content %}

